[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MUS"]
	path = MUS
	url = https://github.com/alsguimaraes/mus
	shallow = true
	registered = true
